:root {
  --white: #fefefe;
  --black: #2c2c2c;
  --yellow-main: #ffe550;
  --light-green: #bbf330;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(----white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  color: currentColor;
  font-family: inherit;
}

input {
  font-family: inherit;
}

/* Клас для обнулення нижнього підкреслення у посилань */
.link {
  text-decoration: none;
}

/* Контейнер для центрування контенту (можна реалізовувати як на секцію, так і на div контейнер)*/
.page-container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER SECTION bY DMYTRO */
.page-header {
  background: var(--white);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
}
.header-link {
}

.header-nav-list {
  display: flex;
  column-gap: 28px;
}

.header-nav-item-link {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.header-nav-list-item:first-child .header-nav-item-link {
  color: var(--light-green);
}

.header-order-btn {
  color: var(--black);
  text-align: right;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;

  display: inline-flex;
  padding: 6px 18px;
  margin-top: 20px;
  margin-right: 16px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background: var(--light-green);

  transition: var(--timing-function);
}

.header-order-btn:hover,
.header-order-btn:focus {
  background-color: var(--yellow-main);
}
/* /HEADER SECTION bY DMYTRO */

/****************************HERO SECTION. IHOR*******************************/

.hero {
  padding-top: 15px;
  padding-bottom: 69px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-description-wrap {
}

.hero-title {
  color: var(--Black, #2c2c2c);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 28px;
  width: 502px;
  height: 116px;
  background-color: var(----white);
}

.hero-text {
  color: var(--Black, #2c2c2c);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 511px;
  height: 69px;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.hero-btn {
  color: var(--Black, #2c2c2c);
  text-align: right;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  display: inline-flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--light-green);
  border: none;
  transition: background-color var(--timing-function),
    border var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #ffe450;
}

.hero-img-container {
  border-radius: 580px;
  margin-right: 30px;
  border: 26px solid var(--Yellow-main, #ffe550);
  background-color: var(--White, #fefefe);
}

/*/***************************HERO SECTION. IHOR*******************************/

/* OFFERINGS-SECTION */
.offerings-section {
  background-color: var(--yellow-main);
  padding: 167px 51px 124px 16px;
}

.offerings {
  display: flex;
  align-items: center;
}

.border-wrap {
  width: 550px;
  gap: 550px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 550px;
  padding: 24px;
}

.image-apple-wrap {
  width: 502px;
  height: 502px;
  border-radius: 50%;
  background-color: var(--white);
  position: relative;
}

.img-offerings {
  position: absolute;
  left: 50%;
  bottom: 78px;
  transform: translateX(-50%);
}

.offering-description-wrap {
  margin-left: auto;
  max-width: 573px;
}

.offerings-title {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.offerings-text {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

.offerings-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.offerings-icon-wrap {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.offerings-item-title {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.offerings-item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.offerings-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background: var(--white);
  width: 106px;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color var(--timing-function),
    border var(--timing-function);
}

.offerings-button:hover,
.offerings-button:focus {
  border: none;
  background-color: var(--light-green);
}

/* / OFFERINGS SECTION */

/* SECTION SUBSCRIBE */

.subscribe-section {
  background-color: var(--white);
  padding-top: 176px;
  padding-bottom: 201px;
}

.subscribe-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-form-cover {
}

.subscribe-title {
  width: 656px;
  margin-bottom: 20px;
  color: var(--black);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}
.subscribe-text {
  width: 532px;
  margin-bottom: 24px;
  color: var(--black);
  font-size: 16px;
  line-height: 1.5;
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 32px;
}
.subscribe-form:focus-within {
  border-color: var(--yellow-main);
}
.subscribe-label {
  display: block;
}
.subscribe-input {
  width: 395px;
  height: 42px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid var(--yellow-main);
  background: var(--white);
}

.button-subscribe {
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  border-radius: 30px;
  border-color: var(--light-green);
  background-color: var(--light-green);
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--yellow-main);
  border-color: var(--yellow-main);
}

.subscribe-img-cover {
}
