/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
.link {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fefefe;
  color: #2c2c2c;
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer-element {
  display: flex;
}
