/* :root {
  --white: #fefefe;
  --black: #2c2c2c;
  --gray: #505050;
  --yellow-main: #ffe550;
  --light-green: #bbf330;
  --dark-green: #7eb101;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  color: currentColor;
  font-family: inherit;
}

input {
  font-family: inherit;
} */

/* Клас для обнулення нижнього підкреслення у посилань */
/* .link {
  text-decoration: none;
} */

/* Контейнер для центрування контенту (можна реалізовувати як на секцію, так і на div контейнер)*/
/* .page-container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
} */

/* HEADER SECTION by Dmytro */
/* .page-header {
  background: var(--white);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  column-gap: 28px;
}

.header-nav-item-link {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  transition: color var(--timing-function);
}

.header-nav-item-link:hover,
.header-nav-item-link:focus {
  color: var(--light-green);
  outline: none;
  text-decoration: underline;
}
.header-order-btn {
  color: var(--black);
  text-align: right;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;

  display: inline-flex;
  padding: 6px 18px;
  margin-top: 20px;
  margin-right: 16px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background: var(--light-green);

  transition: background-color var(--timing-function);
}

.header-order-btn:hover,
.header-order-btn:focus {
  outline: none;
  background-color: var(--yellow-main);
} */
/* /HEADER SECTION bY Dmytro */

/****************************HERO SECTION. IHOR*******************************/

/* .hero {
  padding-top: 15px;
  padding-bottom: 69px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-description-wrap {
}

.hero-title {
  color: var(--Black, #2c2c2c);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 28px;
  width: 502px;
  height: 116px;
  background-color: var(----white);
}

.hero-text {
  color: var(--Black, #2c2c2c);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 511px;
  height: 69px;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.hero-btn {
  color: var(--Black, #2c2c2c);
  text-align: right;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  display: inline-flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--light-green);
  border: none;
  transition: background-color var(--timing-function),
    border var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #ffe450;
}

.hero-img-container {
  border-radius: 580px;
  margin-right: 30px;
  border: 26px solid var(--Yellow-main, #ffe550);
  background-color: var(--White, #fefefe);
} */

/*/***************************HERO SECTION. IHOR*******************************/

/* OFFERINGS-SECTION by Vlad*/
/* .offerings-section {
  background-color: var(--yellow-main);
  padding: 167px 51px 124px 16px;
}

.offerings {
  display: flex;
  align-items: center;
}

.border-wrap {
  width: 550px;
  gap: 550px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 550px;
  padding: 24px;
}

.image-apple-wrap {
  width: 502px;
  height: 502px;
  border-radius: 50%;
  background-color: var(--white);
  position: relative;
}

.img-offerings {
  position: absolute;
  left: 50%;
  bottom: 78px;
  transform: translateX(-50%);
}

.offering-description-wrap {
  margin-left: auto;
  max-width: 573px;
}

.offerings-title {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.offerings-text {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

.offerings-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.offerings-icon-wrap {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.offerings-item-title {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.offerings-item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.offerings-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background: var(--white);
  width: 106px;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color var(--timing-function),
    border var(--timing-function);
}

.offerings-button:hover,
.offerings-button:focus {
  border: none;
  background-color: var(--light-green);
} */

/* / OFFERINGS SECTION */

/* FAVORITES SECTION by Vlad */
/* .our-favorites-background {
  padding-top: 120px;
  padding-bottom: 100px;
}

.favorites-container {
  width: 1280px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}

.our-favorites-header {
  color: var(--Black, #2c2c2c);
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.our-favorites-text {
  color: var(--Black, #2c2c2c);
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}

.our-favorites-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 32px;
}

.our-favorites-img-container {
  border-radius: 197px;
  width: 395px;
  height: 397px;
  flex-shrink: 0;
  border: 16px solid var(--yellow-main);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border var(--timing-function);
}

.our-favorites-img-container:hover,
.our-favorites-img-container:focus {
  border: 16px solid var(--light-green);
} */

/* /FAVORITES SECTION */

/* CUSTOMERS COMMENT by Gleb */

/* .customers-comment-container {
  width: 1280px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
}

.customers-comment {
  background-color: var(--yellow-main);
  padding: 140px 104px 126px 32px;
}

.customers-comment-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.customers-comment-text {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
}

.comments {
  display: flex;
  gap: 139px;
}

.customers-say-comment {
  width: 501px;
  height: 231.579px;
  flex-shrink: 0;

  border-radius: 0px 30px 30px 30px;
  background-color: var(--white);
  display: inline-block;
}

.customers-say-comment {
  padding: 14px 14px 15px 14px;
}

.svg-stars {
  fill: var(--yellow-main);
  margin-bottom: 29px;
}

.comment-text {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

.commentator-profile {
  display: inline-flex;
  padding: 0px 3px 1.049px 0px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.commentator-profile::after {
  content: '';
  width: 1px;
  height: 52px;
  background-color: #7eb101;
}

.comment-profile-name {
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.comment-profile-status {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
} */
/* /CUSTOMERS COMMENT by Gleb*/

/* SUBSCRIBE SECTION by Inna */
/* .subscribe-section {
  padding-top: 176px;
  padding-bottom: 201px;
}

.subscribe-section-container {
  width: 1280px;
  padding-left: 18px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-title {
  width: 656px;
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

.subscribe-text {
  width: 532px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 32px;
}

.subscribe-form:focus-within {
  border-color: var(--yellow-main);
}

.subscribe-label {
  display: block;
}

.subscribe-input {
  width: 395px;
  height: 42px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid var(--yellow-main);
  background: var(--white);
}

.button-subscribe {
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  border-radius: 30px;
  background-color: var(--light-green);
  transition: var(--timing-function);
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--yellow-main);
  border-color: var(--yellow-main);
} */
/* /SUBSCRIBE SECTION by Inna */

/* FOOTER SECTION by DIMA */
/*.section-footer {
   padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
}

.footer-bk-img {
  background-image: url(../images/footer-bg-img/bg-desk-1x.jpg);
  background-position: 56% 116%;
  background-repeat: no-repeat;
}
.footer-logo-container {
  display: flex;
  padding-left: 5px;
  width: 100%;
  max-width: 530px;
  align-items: center;
  justify-content: space-between;
}

.footer-menu-list {
  display: flex;
  column-gap: 28px;
}

.footer-container {
  display: flex;
}

.footer-menu-list-link {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.subscribe-footer-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  row-gap: 12px;
}

.footer-text-subscribe {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.footer-text-policy {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.footer-input {
  display: inline-flex;
  height: 42px;
  padding: 10px 61.5px 12px 12px;
  align-items: center;
  flex-shrink: 0;
  transition: border-color var(--timing-function);

  border-radius: 30px;
  border: 0.854px solid var(--yellow-main);
  background: var(--white);
}

.footer-input:hover,
.footer-input:focus {
  border-color: var(--light-green);
  outline: none;
}

.footer-input::placeholder {
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
}

.footer-btn {
  padding: 11px 22px;
  margin-left: 13px;
  border-radius: 30px;
  border: 0.854px solid var(--dark-green);
  background: #fff;
  transition: border-color var(--timing-function);
}

.footer-btn:hover,
.footer-btn:focus {
  border-color: var(--yellow-main);
  outline: none;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.footer-list-link {
  color: var(--dark-green);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  transition: color var(--timing-function);
}

.footer-list {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.footer-menu-list-link {
  transition: color var(--timing-function);
}

.footer-menu-list-link:hover,
.footer-menu-list-link:focus {
  color: var(--light-green);
  text-decoration: underline;
  outline: none;
}

.footer-list-link:hover,
.footer-list-link:focus {
  color: var(--yellow-main);
} */
/* FOOTER SECTION by Dima */

/* MODAL by Vlad */
/* .backdrop {
  background: rgba(94, 99, 99, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.modal {
  position: absolute;
  width: 458px;
  padding: 32px;
  border-radius: 30px;
  background: var(--yellow-main);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.close-modal-btn {
  position: absolute;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  fill: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  transition: background-color var(--timing-function);
}

.close-modal-btn:focus,
.close-modal-btn:hover {
  background-color: var(--light-green);
}

.icon-close-bodal {
  fill: var(--black);
}

.modal-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

.label-modal {
  font-weight: 500;
  line-height: 1.4;
  padding-left: 12px;
}
.modal-input {
  margin-top: 2px;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background: var(--white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  width: 100%;
  height: 48px;
  padding: 14px 12px;
  outline: transparent;
  margin-bottom: 24px;
  transition: border-color var(--timing-function);
}

.modal-input:focus {
  border-color: #7eb101;
}

.modal-send-btn {
  border-radius: 30px;
  border: 2px solid var(--Dark-green, #7eb101);
  background: var(--white);
  width: 106px;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 8px;
  transition: background-color var(--timing-function);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--light-green);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */
/* / MODAL */
