/* FOOTER SECTION by DIMA */
.section-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
}

.footer-bk-img {
  background-image: url(../../images/footer-bg-img/bg-desk-1x.jpg);
  background-position: 56% 116%;
  background-repeat: no-repeat;
}
.footer-logo-container {
  display: flex;
  padding-left: 5px;
  width: 100%;
  max-width: 530px;
  align-items: center;
  justify-content: space-between;
}

.footer-menu-list {
  display: flex;
  column-gap: 28px;
}

.footer-container {
  display: flex;
}

.footer-menu-list-link {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.subscribe-footer-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  row-gap: 12px;
}

.footer-text-subscribe {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.footer-text-policy {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.footer-input {
  display: inline-flex;
  height: 42px;
  padding: 10px 61.5px 12px 12px;
  align-items: center;
  flex-shrink: 0;
  transition: border-color var(--timing-function);

  border-radius: 30px;
  border: 0.854px solid var(--yellow-main);
  background: var(--white);
}

.footer-input:hover,
.footer-input:focus {
  border-color: var(--light-green);
  outline: none;
}

.footer-input::placeholder {
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
}

.footer-btn {
  padding: 11px 22px;
  margin-left: 13px;
  border-radius: 30px;
  border: 0.854px solid var(--dark-green);
  background: #fff;
  transition: border-color var(--timing-function);
}

.footer-btn:hover,
.footer-btn:focus {
  border-color: var(--yellow-main);
  outline: none;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.footer-list-link {
  color: var(--dark-green);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  transition: color var(--timing-function);
}

.footer-list {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.footer-menu-list-link {
  transition: color var(--timing-function);
}

.footer-menu-list-link:hover,
.footer-menu-list-link:focus {
  color: var(--light-green);
  text-decoration: underline;
  outline: none;
}

.footer-list-link:hover,
.footer-list-link:focus {
  color: var(--yellow-main);
}
/* FOOTER SECTION by Dima */
