.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 311%;
    z-index: 999;
    padding: 0 16px;
    background-color: #FFF;
    padding: 72px 24px 24px 24px;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-nav {
    margin-bottom: auto;
}

.menu-link-studio {
    color: #404BBF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.menu-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-link-mail {
    color: #4D5AE5;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.menu-link-tel {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.menu-address-list {
    margin-bottom: 48px;
}

.menu-link-social {
    justify-content: left;
}


/* =============Menu jc ============================*/

.menu-toggle {
    background-color: transparent;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0;
    border: none;

}


.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    color: #fff;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-top: 0;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}