/* Контейнер для центрування контенту (можна реалізовувати як на секцію, так і на div контейнер)*/
.page-container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
